.question-post {
    display: flex;
    flex-direction: column;
    /* height: 22rem; */
    width: 30rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: rgb(32, 32, 32);
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px;
}
.question-user-fav {
    display: flex;
    justify-content: space-between;

}

.question-user-fav button {
    background-color: transparent;
    border: none;
    outline: none;
}

.unfavorited {
    stroke-width: 3;
    stroke: #fff;
}

.unfavorited:hover {
    stroke: red;
}

.favorited {
    fill: red;
}

.question-card-image { 
    background-color: darkslategrey; 
    margin-bottom: 20px;
}
