.question-post {
    display: flex;
    flex-direction: column;
    /* height: 22rem; */
    width: 30rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: rgb(32, 32, 32);
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px;
}
.question-user-fav {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.question-user-fav button {
    background-color: transparent;
    border: none;
    outline: none;
}

.unfavorited {
    stroke-width: 3;
    stroke: #fff;
}

.unfavorited:hover {
    stroke: red;
}

.favorited {
    fill: red;
}

.question-card-image { 
    background-color: darkslategrey; 
    margin-bottom: 20px;
}

#single-card .question-post .question-user-fav .author-profile-pic {
    display: flex;
    gap: 5px;
    
}

#single-card .question-post .question-user-fav .author-profile-pic img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    object-fit: cover;
}

.more-info-buttons {
    margin-bottom: 20px;
}

.more-info-buttons p {
    display: flex;
    align-items: center;
    gap: 5px;
}