.update-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.update-container h2 {
    text-align: center;
}

.update-container label {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.update-container input {
    padding: 10px 8px;
    border: none;
}