.navigation-list {
  display: flex;
  align-items: center;
  gap: 100px;
}

.logo-container {
    width: 100px;
    height: 100px;
    /* background: transparent; */
}

.profile-dropdown {
  position: absolute;
  margin-right: 2rem;
  height: 2rem;
  width: 9rem;
  z-index: 1;
}

.navigation-list li {
  color: #fff;
}

.favorited-questions {
  fill: red;
  font-size: 30px;
}