.hidden{
    visibility: hidden;
}

/* #profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    color: black;
    height: 3rem;
    width: 3rem;
    border-radius: 10rem;
    transition: ease-in .2s;
    background-color: white;
    cursor: pointer;
} */